/* {
    border: 1px solid red !important;
    font-family: 'Lato', sans-serif;

}*/

@media all and (max-width: 400px) {
.title { display: none; }
.mySlides-bg { display: none; }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* -------------- Navigation -------------- */
.nav-bg {
    background-color: #50229A;
}
nav{
    float: left;
    width: 100%;
}
nav ul{
    padding: 0;
    display: inline;
    list-style: none;
}
nav ul li{
    display: inline;
}
nav ul li a{
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

/* -------------- title --------------  */
.title {
    border-bottom: 5px solid #F1C40F !important;
}

logo{
    float: left;
    padding: 42px;
}
logo p{
    margin: 0px;
    padding-top: 0px;
    padding-left: 10px;
}
.logo-img{
    padding:15px;
    float: left;
}
.title-bar{
    padding-left: 20px;
    max-width: 1200px;
    width: 100%;
    float: left;
    margin: 0 auto;
}
/* -------------- Enroll Button -------------- */
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  color: #000;
  background-color: #50229A;
  border-color: #50229A;
}
.btn {
    display: inline-block;
    padding: 2px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
}
button{
  background-color: #50229A;
  border-color: #50229A;
}
enroll{
    float: right;
    padding: 42px;
}

/* -------------- Slider -------------- */

.mySlides-bg {
    background-color: #50229A;
    padding: 15px;
    position: relative;
    opacity: .8;
    float: left;
    max-width: 1920px;
    width: 100%;
}

.slider-caption-content {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    color: #FFFFFF;
    padding: 0px 80px;
}

.slider-caption-header{
    padding-bottom: 20px;
    margin-top: -199px;
    max-width: 1200px;
    width: 100%;
    color: #FFFFFF;
    padding: 0px 80px;
}

.slider-caption-link{
    float: right;
    color: #A4E2FB;
    text-align: center;
    text-decoration: none;
}
.slider-button{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.slider-img{
    width: 100%;
}

/* ------------- Latest News -------------  */
.news-container{
    background-color: #ECF0F1;
}

.news-header{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 30px 60px;
}

/* ----------- Events --------------  */
.Events-container{
    border-bottom: 2px solid #F1C40F !important;
}
.events-content{
    width: 33.33%;
    padding: 30px 60px;
}

/* ------------ School Links -------------  */
.school-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.school-info-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
}
.school-content{
    float: left;
    padding-top: 10px;
    width: 33%;
    margin: 0 auto;
    padding-left: 10px;
}
.school-content-info{
    float: left;
    text-decoration: none;
    color: #50229A;
    background-color: #ECF0F1;
    width: 100%;
    padding: 0px 25px;
    border-bottom: 3px solid #F1C40F !important;

}
.school-content-img{
    width: 100%;
}
.school-details{
    color: #000;
}

/* --------- Footer ---------------  */
.footer{
    background-color: #50229A;
}
.footer-content{
    margin: 0 auto;
}
.footer-content h1{
    color: #FFFFFF;
    margin: 0 auto;
}

/* ----------- COLUMN TEMPLATE ----------  */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
  margin: 60px;
  background-attachment: fixed;
  background-image: url();
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
    margin-bottom: 0px;
}

h2{
    margin: .5% 2%;
}

h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

hr{
    color: #BCBBBB;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

IMG.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 16px;
    position: relative;
}

IMG.displayed{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.centerDiv {
    margin: auto;
    border: 3px;
    padding: 10px;
}

.centerContent {
    margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 10px;
}

.headerContent {
    float: left;  
}

/* ------------ Typography --------------- */
html { 
    padding: 0;
 margin: 0;
    font-size: 10px; 
}

body {
    padding: 0;
 margin: 0;
    font-size: 1.4rem;
    line-height: 2.3em;
    color: #8e8e8e;
    background-color: #fff;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 400;
}

a { 
    color: inherit; 
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: underline;
}

a:hover { color: #A59768; }
a:focus { color: #A59768; outline: thin dotted; }
a:hover, a:active { color: #A59768; outline: 0; }
a:visited { font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    margin: 0 0 0.5em;
    font-family: 'Cardo', serif;
    font-weight: 700;
    font-style: normal;
    color: #535353;
    letter-spacing: 4px;
}

h1 { font-size: 7.2rem;  }
h2 { font-size: 5.5rem;  }
h3 { font-size: 3.6rem;  }
h4 { font-size: 2.3rem;  }
h5 { font-size: 2.3rem;  }
h6 { font-size: 1.3rem;  }
small { font-size: 1.2rem; } 

h1 a, h2 a, h3 a, h4 a, h5 a { color: inherit; text-decoration: none; font-weight: bold; font-family: 'Tiempos Headline', sans-serif; font-style: normal;}

 /* p { margin: 0 0 1em; }  */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote {
    margin: 1em 0;
    font-size: 24px;
    line-height: 1.2em;
    padding: 0;
    margin: 0;
    border-left: none;
}

dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #000; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; font-family: 'courier new', monospace; font-size: 1em; }
/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k  */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* W3 Slider 
<div class="grid">
    <div class="row">
        <div class="col-12">
<div class="w3-display-container">
<div class="w3-display-container mySlides">
  <img src="http://via.placeholder.com/450x1s50" style="width:100%">
  <div style="padding-left: 80px" class="w3-display-bottomleft w3-large w3-container w3-padding-16">
    Sample Caption Header1
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="http://via.placeholder.com/450x150" style="width:100%">
  <div style="padding-left: 80px" class="w3-display-bottomleft w3-large w3-container w3-padding-16">
    Sample Caption Header2
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="http://via.placeholder.com/450x150" style="width:100%">
  <div style="padding-left: 80px" class="w3-display-bottomleft w3-large w3-container w3-padding-16">
    Sample Caption Header3
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="http://via.placeholder.com/450x150" style="width:100%">
  <div style="padding-left: 80px" class="w3-display-bottomleft w3-large w3-container w3-padding-16">
    Sample Caption Header4
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="http://via.placeholder.com/450x150" style="width:100%">
  <div style="padding-left: 80px" class="w3-display-bottomleft w3-large w3-container w3-padding-16">
    Sample Caption Header5
  </div>
</div>

<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>


<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

*/
